/* Flexbox elements */

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Ajout de cette ligne */
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-word {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
}

/* Style of the interface */

.box-style {
  padding: 5%;
  margin: 10%;
  border: double rgb(252, 228, 199) 5px;
}

.text-centered {
  text-align: center;
}

.max-width-bad {
  min-width: 58px;
  max-width: 58px;
}

#bad-letters {
  word-wrap: break-word;
}

.about-word {
  margin: 0 auto;
}
.max-width-stars {
  white-space: nowrap;
}

/* Ascii code js and style */
.ascii {
background-color: bisque;
}

.hide {
  display: none;
}

/* .btn {
  border: solid black 2px;
} */
